*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display";
}
html,body{
  width: 100%;
  height: 100%;
}
/* ::::::::::::::::     THEME      :::::::::::::::::::: */
@font-face{
  font-family: "SF Pro Display";
  src: url(SFproFont/SFPRODISPLAYREGULAR.OTF);
}
:root{
  --mainColor : blue; 
  --backgroundColor: #000000;
  --backgroundColor2: white;
  --grayColor : #a6a6a6;
  --headingColor: black;
  --fontColor : purple;
  --borderColor: white;
  --highlightColor : aqua;
  --fontHeading : "Aerial";
}
/* :::::::::::::::::::  MAIN   :::::::::::::::::::::::  */
#main{
  position: relative;
  overflow: hidden;
}
/* :::::::::::::::::::  PAGE 1  :::::::::::::::::::::::  */
#page1{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
/* :::::::::::::::::::    NAVBAR  :::::::::::::::::::::::  */
#page1>nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 50vw;
  height: 7vh;
  position: absolute;
  color: white;
  background-color: var(--backgroundColor);
  top: 0;
  left: 50%;
  translate : -50% 0;
}
#page1>nav>button{
  padding: 6px 10px;
  border-radius: 50px;
  border: none;
}
#page1>video{
  height: 100vh;
  width: 50vw;
  position: absolute;
  left: 50%;
  translate: -50% 0;
}

#page1Bottom{
  height: 20%;
  width: 25%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page1Bottom>h3{
  color: var(--grayColor);
  margin-bottom: 1vw;
}

/* :::::::::::::::::::  PAGE 2  :::::::::::::::::::::::  */
#page2{
  position: relative;
  height: 100vh;
  width: 100vw;
  /* background-color: wheat; */
}

#page2>video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

#page2>h1{
  font-size: 4vw;
  color: #fff;
  font-weight: 400;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}


/* :::::::::::::::::::  PAGE 3  :::::::::::::::::::::::  */
#page3{
  position: relative;
  height: 100vh;
  width: 100vw;
  /* background-color: wheat; */
}

#page3>video{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

#page3>h1{
  font-size: 4vw;
  color: #fff;
  font-weight: 400;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

/* :::::::::::::::::::    PAGE 4   ::::::::::::::::::::::::  */
#page4{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

#page4>img{
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

#page4Upper{
  width: 35%;
  height: 25%;
  position: absolute;
  top: 5%;
  left: 50%;
  translate: -50% 0;
}

#page4Upper>img{
  position: absolute;
  top: 10%;
  left: 50%;
  translate: -50%;
  width: 70%;
}

#page4UpperInner{
  position: absolute;
  bottom: 0%;
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  color: #ff5900;
}
#page4UpperInner>h3{
  font-weight: 500;
}
.orange:hover{
  color: #b84000;
  text-decoration: underline;
}

#page4>button{
  position: absolute;
  bottom: 7%;
  left: 50%;
  translate: -50% 0;
  padding: 15px 30px;
  border: 1px solid #000;
  font-weight: 500;
  background-color: #fff;
  border-radius: 50px;
  font-size: 1.4vw;
}
/* =====================     PAGE 5    ============================ */

#page5{
  height: 100vh;
  width : 100vw;
  position: relative;
}
#paget5>video{
  width : 100%;
  height : 100%;
  object-fit: cover;
}
#centerPage5{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: -50% 0;
}